@import "_normalize";

h1{font-family:"learning-curve-dashed";
   font-size: 10em;
   /*font-weight: 600;*/
   margin-left: 100px;

}



h2{font-family: "新ゴ L";
   margin-left: 120px;
   margin-bottom: 0;
   
}

ul li{list-style-type: none;
   
   font-size: 30px;
   margin-left: 80px;
   line-height: 30px;
   display: inline;
   position: inside;
   text-decoration: none;
　　
}

ul li a{line-height: 100px;
　　
}

a:link{color:black;}
a:visited{color:black;}
a:hover{background-color:#a4ecee;}


.menue{font-family:"museo-sans";
	
}

