@import "_normalize";

h1{font-family:"learning-curve-dashed";
   /*font-weight: normal;*/
   font-size: 7em;
   font-weight: 500px;
   margin-top: 30px;
   margin-bottom:-10px;
   margin-left: 15px;

}

h2{font-family: "learning-curve-dashed";
   font-size: 20px;
   margin-left: 110px;
   margin-bottom: 50px;
   margin-top: -10px;
   color:#1b1b1b;
   
}  

h3{font-family:中ゴシックBBB;
	font-size: 20px;
	margin-top: -15px;
} 


   
   
ul li{list-style-type: none;
   
   font-size: 25px;
   margin-left: 80px;
   line-height: 10px;
   display: inline;
   /*position: inside;*/
   text-decoration: none;
}

ul li a{line-height: 100px;

}

ul li#mail{   
   font-size: 20px;
   list-style-image: url("../../img/top/mailmark.png");
   
}

address {
	display: inline;
	font-style: normal;
}

a:link{color:black;}
a:visited{color:black;}


a.yellow:hover{background-color:#fff700;}
a.pink:hover{background-color:#ff6bab;}
a.orange:hover{background-color:#ffab00;}
a.white:hover{color:silver;}


#container {}
.contents {
	margin: 0 auto;
	width: 960px;
}

#edi{display:inline;
    position: relative;
    top: 75px;
	left: 28px;
}

#gra{display:inline;
    position: relative;
    top: 75px;
	left: 150px;
}

#web{display:inline;
    position: relative;
    top: 75px;
	left: 265px;
}

ul.foot{font-family:"museo-sans";
	position: relative;
	left: 120px;
	padding-left: 10px;
	padding-right:0px;
	
}


ul.ie{margin-top:10px;
	  margin-bottom: 0px;
}

ul.ie a:hover {
	background: none;
}
ul.ie a{text-decoration: none;}

#ie1{display:inline;
    position: relative;
	top:52px;
	left:31px;
}
#ie2{display:inline;
    position: relative;
	top:50px;
	left:158px;
}
#ie3{display:inline;
	position: relative;
	top:52px;
	left:285px;
	}

#ie3 a{background-image: url(../../img/top/ie3.png);
	width:348px;
	height:439px;
	background-repeat:no-repeat;
}

#ie3 a:hover{background-image:url(../../img/top/ie3_2.png);
		background-repeat: no-repeat;
}

#idyama{margin-top:0px;
}


.menue{font-family:"museo-sans";
	
}


ul.foot{font-family:"museo-sans";
	text-decoration: none;
	left:200px;
	
	}
	
ul.foot a{text-decoration: none;
}

.copy{font-size:15px;
	display:inline;
}


.hitori1{margin:0 0 50px 0;
	 
}

a.facebook{font-size: 15px;
           margin-right: -20px;
           margin-left: -30px;
     
}
a.facebook:hover{color:silver;
	
}



   
/*---------------------------------------------*/
.sidebar{
	
	position: fixed;
	width: 256px;
	text-align: left;
	height: 100%;
	top: 0;
    left: -80px;
    padding-top: 30px;
         /*width: 100px;
    height: 100px;*/
}
    
    
.main{margin-left: 256px;
	padding: 30px;
	border-left-style:dashed ;
	border-left-color:silver;
	border-left-width: 2px;
}

#doa a {
    display: block;
    background-repeat: no-repeat;
    overflow: visible;
    height:60px;
    width: 196px;
    background-image:url(../../img/work/back1.png);
    padding-top: 30px;
    text-align: center;
    
}

 
#doa a:hover {

    background-image: url(../../img/work/back2.png);
    background-color: transparent;

}

.contents2 li{
	width:198px;
	display:list-item;
	line-height:25px;
	font-size:18px;
	margin-left: 60px;
	font-color:#1b1b1b;
	
	
	
}

ul .edi{
	font-size: 10px;
	margin-left: -100px;
	
	
}

ul .edi li {
	font-size: 12px;
	padding-left: 20px;
	line-height: 20px;
}

ul .edi .current{
	background-image: url(../../img/work/sankaku.png);
	background-repeat: no-repeat;
	background-position: left center;
	line-height:20px;
}	

	


#back{margin-left:110px;
	margin-top: 50px;
}

#b{display: block;
	margin-left:75px;
	margin-bottom: 10px;
	text-decoration: none;
}

#b a:hover{
	background-image: url(../../img/work/back2.png);
    background-color: transparent;
}

.aki{margin-bottom:20px;
    text-decoration: none;

	
}

.sen{border-bottom-style: dashed;
	border-bottom-width:1px;
	margin-bottom: 10px;
	
}

span{font-size: 8px;}

#listaki{line-height: 20px;}

.box{border-bottom: 1px dashed #3798ff;
	padding-bottom: 10px; /* 内容と線との間隔量 */
}
