@import "_normalize";

h1{font-family:"見出ゴMB1";
   font-size: 4em;
   font-weight: 600;
   margin-left: 120px;

}


h2{font-family: "新ゴ";
   margin-left: 120px;
   margin-bottom: 0;
   
	
}

li{list-style-type: none;
   font-family:"新ゴ";
   margin-left: 80px;
   line-height: 30px;
  
　　
	
}

//li:first-letter{ background-color: #a4ecee
}
